name: Conventional Commits

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  validate:
    name: Validate commit messages
    runs-on: ubuntu-latest

    steps:
      - name: Validate PR commits
        uses: wagoid/commitlint-github-action@v6